# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# PyCharm files
.idea

# archived files
zz_archiv

# Cache files
__pycache__

# Setting file
settings